/* ========================================

    CODE YOUR STYLES BELOW!

   ====================================== */

   .shadow-typo {
       color: royalblue;
       text-transform: uppercase;
       font-size: 6rem;
       text-shadow: 3px 3px 0 blanchedalmond,
                    8px 8px 0 rgba(0, 0, 0, 0.1);
   }

   .threedee-typo {
    color: royalblue;
    text-transform: uppercase;
    font-size: 6rem;
    transform: skew(-5deg, -5deg) rotate(5deg);
    text-shadow: 1px 1px 0 blue,
                 2px 2px 0 blue,
                 3px 3px 0 blue,
                 4px 4px 0 blue,
                 5px 5px 0 blue,
                 6px 6px 0 blue,
                 7px 7px 0 blue,
                 8px 8px 0 blue,
                 9px 9px 0 #000055,
                 10px 10px 0 #000022,
                 10px 10px 15px rgba(0, 0, 0, 0.5);
   }